<html>

<body>
    <div ng-app="instantSearch" ng-controller="SearchController">
        <div class="bar">
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
        </div>
        <h4 ng-repeat="i in items | searchFor:searchString">
            <p>{{i.title}}</p>
        </h4>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("instantSearch", []);
        app.filter('searchFor', function () {
            return function (arr, searchString) {
                if (!searchString) {
                    return arr;
                }
                var result = [];
                searchString = searchString.toLowerCase();
                angular.forEach(arr, function (item) {
                    if (item.title.toLowerCase().indexOf(searchString) !== -1) {
                        result.push(item);
                    }
                });
                return result;
            };
        });
        app.controller("SearchController", function ($scope) {
            $scope.items = [
                { title: 'Hyderabad' },
                { title: 'bangalore' },
                { title: 'Chennai' }
            ];
        });

    </script>
</body>

</html>